<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome, {{ session['username'] }}</h1>
    <div>
        <input type="text" id="ipInput" placeholder="Enter IP Address">
        <button onclick="pingIP()">Ping</button>
    </div>
    <div id="pingResult"></div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <div>
        <input type="text" id="ipInput" placeholder="Enter your IP Address">
        <button onclick="traceIP()">Trace</button>
    </div>
    <div id="pingResult"></div>
    <a href="{{ url_for('logout') }}">Logout</a>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>